
.clas-button {
	background-repeat:no-repeat;
	background-position:center;
	text-align: center;
	height: 48px;
}

.clas-button.connections {
	border:solid 1px #6db36d;
	background-color:#A5D0A5;
}

.clas-button.thinkingmatters {
	border:solid 1px #e79544;
	background-color:#F0BD8B;
}

.clas-button.exchange {
	border:solid 1px #debe76;
	background-color:#EBD8AD;
}

.wscontrol.clas-buttons-control a {
	display:block;
}

.wscontrol.clas-buttons-control .clas-button {
	margin-bottom:3px;
}

.wscontrol.clas-buttons-control a:last-child .clas-button {
	margin-bottom:0px;
}
